
.text-field {
    -fx-background-color: transparent; 
    -fx-border-width: 0 0 2px 0; 
    -fx-border-color: rgba(255, 255, 255, 0.5); 
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 16px; 
    -fx-padding: 5px 0 5px 0; 
    -fx-font-family: 'Roboto', sans-serif; 
}


.text-field:focused:-fx-prompt-text-fill,
.text-field:-fx-prompt-text-fill {
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5); 
}


.text-field:focused {
    -fx-border-color: #2196f3; 
    -fx-text-fill: white; 
}


.text-field:focused .bar {
    -fx-background-color: #2196f3; 
    -fx-transform: scaleX(1); 
    -fx-transition: transform 0.3s ease-in-out;
}


.text-field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: white;
}


.bar {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-height: 2px;
    -fx-width: 100%;
    -fx-transform: scaleX(0);
    -fx-transition: transform 0.3s ease-in-out;
}
